<div class="detail-layer"></div>
<ul class="perfume-list">
    <li class="perfume-info">
        <img src="../img/perfume/Chanel/n'5leau.jpg" id="jo_nut" style="width: 180px; height: 250px;">
    </li>
    <li class="perfume-info">
        <img src="../img/perfume/Chanel/blueDeChanel.jpg" id="jo_nut" style="width: 180px; height: 250px;">
    </li>
    <li class="perfume-info">
        <img src="../img/perfume/Chanel/n'5.jpg" id="jo_nut" style="width: 180px; height: 250px;">
    </li>
</ul>
<div class="detail-view">
</div>
<div class="detail-condition">
    <div class="detail-button">
        상세검색
    </div>
    <div class="detail-box">
        <div>
            <div class="select-title">
                브랜드
            </div>
            <ul class="detail-select brand">
            </ul>
            <div class="select-title">
                이미지
            </div>
            <ul class="detail-select image">
            </ul>
            <div class="select-title">
                계절
            </div>
            <ul class="detail-select season">
            </ul>
        </div>
        <div>
            <div class="select-title">
                계열
            </div>
            <ul class="detail-select perfume-type">
            </ul>
            <div class="select-title">
                연령
            </div>
            <ul class="detail-select age">
            </ul>
            <div class="select-title">
                성별
            </div>
            <ul class="detail-select gender">
            </ul>
        </div>
        <div class="search-button">
            <button>검색</button>
        </div>
    </div>
</div>
