<li class="perfume-info">
    <img src="../img/perfume/Jomalone/nut.png" id="jo_nut" style="width: 180px; height: 250px;">
</li>
<li class="perfume-info">
    <img src="../img/perfume/Jomalone/amber.png" id="jo_nut" style="width: 180px; height: 250px;">
</li>
<li class="perfume-info">
    <img src="../img/perfume/Jomalone/hazlenut.png" id="jo_nut" style="width: 180px; height: 250px;">
</li>